<%- include("./include/header") %>
    <!--Main content-->
    <div class="site-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0">
                <li class="breadcrumb-item"><a href="/<%=dashboard%>"><i class="fas fa-home"></i> Trang chủ</a></li>
                <%
                    if(type.posttype.length==1){
                %>
                    <li class="breadcrumb-item"><a href="/<%=dashboard%>/post/<%=type.posttype[0].id%>"><%=type.posttype[0].name%></a></li>
                <%
                    }
                %>
                <li class="breadcrumb-item"><a href="/<%=dashboard%>/category/<%=type.id%>"><%=type.name%></a></li>
                <li class="breadcrumb-item active" aria-current="page">Sửa <%=category.title%></li>
            </ol>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="accordion accordion-edit-page" id="accordionCategory">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h4 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseMain" aria-expanded="true" aria-controls="collapseMain">
                                        <img src="/<%=dashboard%>/assets/img/flags/vn.png"> Tiếng việt
                                    </button>
                                </h4>
                            </div>
                            <div id="collapseMain" class="collapse show" aria-labelledby="headingMain" data-parent="#accordionCategory">
                                <div class="card-body">
                                    <form class="mb-3 form-edit-page" action="/<%=dashboard%>/category/<%=catetype%>/edit" method="POST">                                        
                                        <div class="form-group">
                                            <label for="title">Tiêu đề</label>
                                            <input type="hidden" class="form-control" name="id" value="<%=category.id%>">
                                            <input type="text" class="form-control" name="title" placeholder="Tiêu đề" value="<%=category.title%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="slug">Đường dẫn</label>
                                            <input type="text" class="form-control appear-slug" name="Đường dẫn" value="<%=category.slug%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Diễn giải</label>
                                            <textarea class="form-control" name="description" placeholder="Diễn giải"><%=category.description%></textarea>
                                        </div>                                       
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="parent">Mục cha</label>
                                                    <select class="form-control" name="parent">
                                                        <option value="">None parent</option>
                                                        <% if(categories){%>                                    
                                                            <% categories.forEach(item => { %>
                                                                <option value="<%=item.id%>" <%if(item.id==category.parentid){%>selected<%}%>><%=item.title%></option>
                                                            <% }) %>
                                                        <%}%>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="catestatus">Trạng thái</label>
                                                    <select class="form-control" name="catestatus">
                                                        <option value="published" <%if(category.catestatus=="published"){%>selected<%}%>>Xuất bản</option>
                                                        <option value="pending" <%if(category.catestatus=="pending"){%>selected<%}%>>Chờ duyệt</option>                                                        
                                                        <option value="trash" <%if(category.catestatus=="trash"){%>selected<%}%>>Thùng rác</option>
                                                    </select>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <%
                                            var thumb = (category.thumb) ? category.thumb : {};
                                            var thumbURL = (thumb.urlicon) ? thumb.urlicon : '/assets/imgs/no-image-100.gif';
                                            var thumbID = (thumb.id) ? thumb.id : "";
                                        %>
                                        <div class="form-group">
                                            <div class="mm-wrapper imgCateThumbWrap">
                                                <input type="hidden" name="thumb" value="<%=thumbID%>">
                                                <div class="thumb" onclick="mmInit(false, false,'thumbnail', true, this);" title="Click chọn ảnh">
                                                    <img src="<%=thumbURL%>">
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="form-group seo-progress-bar">
                                            <label for="seotitle">SEO Title</label>
                                            <input type="text" class="form-control seo-progress-text" name="seotitle" placeholder="SEO Title" value="<%=category.seotitle%>">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuegood="40" aria-valuemin="0" aria-valuemax="65"></div>
                                            </div>
                                        </div>
                                        <div class="form-group seo-progress-bar">
                                            <label for="seodescription">SEO Description</label>
                                            <textarea class="form-control seo-progress-text" name="seodescription" placeholder="SEO Description"><%=category.seodescription%></textarea>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuegood="125" aria-valuemin="0" aria-valuemax="155"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox mr-5">
                                                <input class="form-check-input" type="checkbox" name="allowindex" <%if(category.allowindex){ %>checked<%}%>>
                                                <label for="allowindex">Bật google index</label>
                                            </div>
                                            <div class="checkbox">
                                                <input class="form-check-input" type="checkbox" name="islikemain" <%if(category.islikemain){ %>checked<%}%>>
                                                <label class="form-check-label" for="islikemain">Hỗ trợ tất cả ngôn ngữ</label>
                                            </div> 
                                        </div>
                                        <div class="form-group text-right">
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% 
                            if(category.CateLang){
                                category.CateLang.forEach(item => {
                        %>
                            <div class="card">
                                <div class="card-header" id="heading<%=item.Lang.id%>">
                                    <h4 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%=item.Lang.id%>" aria-expanded="true" aria-controls="collapse<%=item.Lang.langcode%>">
                                        <img src="/<%=dashboard%>/assets/img/flags/<%=item.Lang.id%>.png" alt="<%=item.Lang.name%>"> <%=item.Lang.name%>
                                      </button>
                                    </h4>
                                </div>
                                <div id="collapse<%=item.Lang.id%>" class="collapse" aria-labelledby="heading<%=item.Lang.id%>" data-parent="#accordionCategory">
                                    <div class="card-body">
                                        <form class="mb-3 form-edit-page" action="/<%=dashboard%>/category/<%=catetype%>/lang/edit" method="POST">
                                            <div class="form-group">
                                                <label for="title">Tiêu đề</label>
                                                <input type="hidden" class="form-control" name="id" value="<%=item.id%>">
                                                <input type="hidden" class="form-control" name="cateid" value="<%=item.cateid%>">
                                                <input type="hidden" class="form-control" name="langid" value="<%=item.langid%>">
                                                <input type="text" class="form-control" name="title" placeholder="Tiêu đề" value="<%=item.title%>">
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Diễn giải</label>
                                                <textarea class="form-control" name="description" placeholder="Tiêu đề"><%=item.description%></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="seotitle">SEO Title</label>
                                                <input type="text" class="form-control" name="seotitle" placeholder="SEO title" value="<%=item.seotitle%>">
                                            </div>
                                            <div class="form-group">
                                                <label for="seodescription">SEO Description</label>
                                                <textarea class="form-control" name="seodescription" placeholder="SEO Description"><%=item.seodescription%></textarea>
                                            </div>                                            
                                            <div class="form-group text-right">
                                                <button type="submit" class="btn btn-primary">Lưu</button>
                                                <a href="javascript:void(0);" data-id="<%=item.id%>" data-type="category/<%=catetype%>/lang/delete" class="btn btn-danger btn-delete">Xóa</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% 
                                })
                            }

                            if(languages || category.islikemain){
                                languages.forEach(item => {
                            
                        %>
                                <div class="card">
                                    <div class="card-header" id="heading<%=item.id%>">
                                        <h4 class="mb-0">
                                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%=item.id%>" aria-expanded="true" aria-controls="collapse<%=item.id%>">
                                    <img src="/<%=dashboard%>/assets/img/flags/<%=item.id%>.png" alt="<%=item.name%>"> <%=item.name%> <span class="badge badge-warning">en</span>
                                    </button>
                                        </h4>
                                    </div>
                                    <div id="collapse<%=item.id%>" class="collapse" aria-labelledby="heading<%=item.id%>" data-parent="#accordionCategory">
                                        <div class="card-body">
                                            <form class="mb-3 form-add-lang" action="/<%=dashboard%>/category/<%=catetype%>/lang/add" method="POST">
                                                <div class="form-group">
                                                    <label for="title">Tiêu đề</label>
                                                    <input type="hidden" class="form-control" name="cateid" value="<%=category.id%>">
                                                    <input type="hidden" class="form-control" name="langid" value="<%=item.id%>">
                                                    <input type="text" class="form-control" name="title" placeholder="Tiêu đề" value="<%=category.title%>">
                                                </div>
                                                <div class="form-group">
                                                    <label for="description">Diễn giải</label>
                                                    <textarea class="form-control" name="description" placeholder="Diễn giải"><%=category.description%></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="seotitle">SEO Title</label>
                                                    <input type="text" class="form-control" name="seotitle" placeholder="SEO Title" value="<%=category.seotitle%>">
                                                </div>
                                                <div class="form-group">
                                                    <label for="seodescription">SEO Description</label>
                                                    <textarea class="form-control" name="seodescription" placeholder="SEO Description"><%=category.seodescription%></textarea>
                                                </div>                                               
                                                <div class="form-group text-right">
                                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <% 
                            }) 
                        } 
                        %>
                    </div>
                    <%- include("./templates/box-logging") %>
                </div>
            </div>
        </div>
    </div>
    <script src="/<%=dashboard%>/assets/libs/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/<%=dashboard%>/assets/libs/tinymce/tinymce.min.js"></script>
    <script src="/<%=dashboard%>/assets/js/tiny.js"></script>
    <%- include("./include/footer") %>