<%- include("./include/header") %>
<!--Main content-->
<div class="site-body">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0">
            <li class="breadcrumb-item"><a href="/<%=dashboard%>"><i class="fas fa-home"></i> Trang chủ</a></li>
            <%
                if(type.posttype.length==1){
            %>
                <li class="breadcrumb-item"><a href="/<%=dashboard%>/post/<%=type.posttype[0].id%>"><%=type.posttype[0].name%></a></li>
            <%
                }
            %>
            <li class="breadcrumb-item active" aria-current="page"><%=type.name%></li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="datatable-search-header">
                            <select id="slBulk">
                                <option>Bulk actions</option>
                                <option value="trash">Thùng rác</option>
                                <option value="delete">Xóa</option>
                            </select>
                            <button id="btnBulk" type="button" class="btn btn-primary">OK</button>
                            <div class="datatable-filter-holder">
                                <input class="item-filter" type="text" placeholder="Search">                                
                                <select class="item-filter item-trash">
                                    <option value="%">Trạng thái</option>
                                    <option value="published">Xuất bản</option>
                                    <option value="pending">Chờ duyệt</option>
                                    <option value="trash">Thùng rác</option>
                                </select>
                                <button type="button" id="btnDTFileter" class="btn btn-primary">Tìm</button>
                            </div>                                
                            <button class="btn btn-sm btn-outline-primary btn-load-modal-add">Thêm mới</button>
                        </div>
                        <table id="datatable-sside" class="table table-bordered datatable-style" data-type="category/<%=catetype%>">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" name="select_all" value="1" id="datatable-select-all"></th>
                                    <th>Tiều đề</th>
                                    <th>Đường dẫn</th>
                                    <th>Người tạo</th>
                                    <th class="text-center"><i class="fas fa-edit" title="Số bài viết"></i></th>
                                    <th class="text-center"><i class="fas fa-boxes" title="Google Index"></i></th>
                                    <th class="text-center"><i class="fas fa-power-off" title="Trạng thái"></i></th>
                                    <th style="max-width: 120px" class="text-right"><i class="fas fa-clock" title="Ngày sửa gần nhất"></i></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Model Add -->
<div class="modal fade" id="frmModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="error-modal-add"></div>
                <form action="/<%=dashboard%>/category/<%=catetype%>/add" method="POST">                                          
                    <div class="form-group">
                        <label for="title" class="col-form-label">Tiêu đề</label>
                        <input class="form-control create-slug" type="text" name="title" placeholder="Tiêu đề">
                    </div>
                    <div class="form-group">
                        <label for="slug" class="col-form-label">Đường dẫn</label>
                        <input class="form-control appear-slug" type="text" name="slug" placeholder="Đường dẫn">
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="parent" class="col-form-label">Mục cha</label>
                                <select class="form-control" name="parent">
                                    <option value="">Trống</option>
                                    <% if(categories){%>                                    
                                        <% categories.forEach(item => { %>
                                            <option value="<%=item.id%>"><%=item.title%></option>
                                        <% }) %>
                                    <%}%>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="parent" class="col-form-label">Trang thái</label>
                                <select class="form-control" name="catestatus">
                                    <option value="published">Xuất bản</option>
                                    <option value="pending">Chờ duyệt</option>
                                </select>
                            </div>
                        </div>                        
                    </div>                    
                    <div class="form-group seo-progress-bar">
                        <label for="seotitle">SEO Title</label>
                        <input type="text" class="form-control seo-progress-text" name="seotitle" placeholder="SEO Title">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuegood="40" aria-valuemin="0" aria-valuemax="65"></div>
                        </div>
                    </div>
                    <div class="form-group seo-progress-bar">
                        <label for="seodescription">SEO Description</label>
                        <textarea class="form-control seo-progress-text" name="seodescription" placeholder="SEO Description"></textarea>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuegood="125" aria-valuemin="0" aria-valuemax="155"></div>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="checkbox mr-5">
                            <input class="form-check-input" type="checkbox" name="allowindex" <%if(type.allowfollow==true){%>checked<%}%>>
                            <label class="form-check-label" for="allowindex">Bật Google Index</label>
                        </div>
                        <div class="checkbox">
                            <input class="form-check-input" type="checkbox" name="islikemain" checked>
                            <label class="form-check-label" for="islikemain">Hỗ trợ tất cả ngôn ngữ</label>
                        </div>
                    </div>
                    <div class="text-right mt-3">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>var catetype = "<%=catetype%>";</script>
<script src="/<%=dashboard%>/assets/datatables/datatable.category.js" charset="utf-8"></script>
<script src="/<%=dashboard%>/assets/datatables/datatable.all.js" charset="utf-8"></script>
<%- include("./include/footer") %>