<%- include("./include/header") %>
    <!--Main content-->
    <div class="site-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0">
                <li class="breadcrumb-item"><a href="/<%=dashboard%>"><i class="fas fa-home"></i> Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/<%=dashboard%>/post/<%=type.id%>"><%=type.name%></a></li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
            </ol>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="datatable-search-header">
                                <select id="slBulk">
                                    <option value="">Bulk actions</option>
                                    <option value="trash">Thùng rác</option>                                                                 
                                    <option value="delete">Xóa</option>
                                </select>
                                <button type="button" id="btnBulk" class="btn btn-primary">Ok</button>
                                <div class="datatable-filter-holder">
                                    <input class="item-filter" type="text" placeholder="Tìm kiếm...">
                                    <%- include("./templates/box-post-toolbar") %>
                                    <select class="item-filter item-trash">
                                        <option value="%">Trạng thái</option>
                                        <option value="published">Xuất bản</option>
                                        <option value="pendding">Chờ duyệt</option>
                                        <option value="trash">Thùng rác</option>
                                    </select>
                                    <button type="button" id="btnDTFileter" class="btn btn-primary">Tìm</button>
                                </div>
                                <a href="/<%=dashboard%>/post/<%=posttype%>/add" class="btn btn-sm btn-outline-primary">Thêm mới</a>
                            </div>
                            <table id="datatable-sside" class="table table-bordered datatable-style" data-type="post/<%=posttype%>">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all" value="1" id="datatable-select-all"></th>
                                        <th>Tiêu đề</th>
                                        <th>Người tạo</th>
                                        <th>Danh mục</th>
                                        <th class="text-center"><i class="fas fa-boxes" title="Google Index"></th>
                                        <th class="text-center"><i class="fas fa-power-off" title="Trạng thái"></th>
                                        <th class="text-right" style="max-width: 120px;"><i class="fas fa-clock" title="Ngày cập nhật gần nhất"></i></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var posttype = "<%=posttype%>";
    </script>
    <script src="/<%=dashboard%>/assets/datatables/datatable.post.js" charset="utf-8"></script>
    <script src="/<%=dashboard%>/assets/datatables/datatable.all.js" charset="utf-8"></script>
    <%- include("./include/footer") %>