<%- include("./include/header") %>
    <!--Main content-->
    <div class="site-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0">
                <li class="breadcrumb-item"><a href="/<%=dashboard%>"><i class="fas fa-home"></i> Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/<%=dashboard%>/role">Nhóm quyền</a></li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách</li>
            </ol>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="datatable-search-header">
                                <select id="slBulk">
                                    <option value="">Bulk actions</option>
                                    <option value="delete">Xóa</option>
                                </select>
                                <button id="btnBulk" type="button" class="btn btn-primary">OK</button>
                                <div class="datatable-filter-holder">
                                    <input class="item-filter" type="text" placeholder="Tìm kiếm...">
                                    <button id="btnDTFileter" type="button" class="btn btn-primary">Tìm</button>
                                </div>
                                <button class="btn btn-sm btn-outline-primary btn-load-modal-add">Thêm mới</button>
                            </div>
                            <table id="datatable-sside" class="table table-bordered datatable-style" data-type="role">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all" value="1" id="datatable-select-all"></th>
                                        <th>Tên</th>
                                        <th>Diễn giải</th>
                                        <th>Quyền quản trị</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Model -->
    <div class="modal fade" id="frmModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="frmTitleAction">Sửa</span> Nhóm quyền</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="error-modal-edit"></div>
                    <form action="/<%=dashboard%>/role/edit" method="POST">
                        <input type="hidden" name="id" id="id" autocomplete="off" required>
                        <div class="form-group">
                            <label for="rolename" class="col-form-label">Tên</label>
                            <input class="form-control" id="rolename" type="text" name="rolename" placeholder="Tên">
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-form-label">Diễn giải</label>
                            <textarea class="form-control" name="description" id="description" placeholder="Diễn giải"></textarea>
                        </div>
                        <div class="checkbox">
                            <input class="form-check-input" type="checkbox" name="ismaster" id="ismaster">
                            <label class="form-check-label" for="ismaster">Quyền quản trị</label>
                        </div>
                        <div class="text-right mt-3">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/<%=dashboard%>/assets/datatables/datatable.role.js" charset="utf-8"></script>
    <script src="/<%=dashboard%>/assets/datatables/datatable.all.js" charset="utf-8"></script>
    <%- include("./include/footer") %>