        <!-- Over on body mobile -->
        <div class="over-body"></div>
    </div>
    <script src="/<%=dashboard%>/assets/libs/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    <script src="/<%=dashboard%>/assets/libs/metis-menu/metisMenu.min.js" charset="utf-8"></script>
    <script src="/<%=dashboard%>/assets/libs/DataTables/datatables.min.js" charset="utf-8"></script>
    <script src="/<%=dashboard%>/assets/libs/select2-4.1.0-beta.1/dist/js/select2.min.js" charset="utf-8"></script>
    <script src="/<%=dashboard%>/assets/js/sweetalert2@10.js" charset="utf-8"></script>
    <script src="/<%=dashboard%>/assets/js/admin.js"></script>
</body>

</html>